/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* CSS variables */
:root {
  --primary-font: "Indie Flower", cursive;
  --secondary-font: "Montserrat", sans-serif;
}
/* Global styles */
body{
    font-family: var(--primary-font);
    color: white;
    background-color: black;
}

/* Hangman-visual */
#hangman-visual img{
    border-radius: 20px;
}

.img-fluid{
    max-width: 80%;
}

.hidden{
    display: none;
}

/* Title */
#game-title{
    margin: 2rem 0;
}

#game-title h1{
  font-weight: bold;
}

/* Buttons */

.btn{
    height: 3rem;
    width: 3rem;
    margin: 5px;
}